a, body {
  background-color: #232627;
  color: #1cdc9a;
  font-family: "JetBrains Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
  background-color: #232627;
  color: #3da8c8;
  font-family: "JetBrains Mono", monospace;
}